<include file='Common:header'/>
	<link rel="stylesheet" href="__PUBLIC__/Css/show.css" />
	<include file='Common:nav'/>

<!--主体-->
	<div class='main'>
		<div class='main-left'>
			<div class='location'>
				<a href="">首页</a>>
				<php>$last = count($parent) - 1</php>
				<foreach name='parent' item='v'>
					<a href="{:U('/c_' . $v['id'])}">{$v.name}</a>
					<if condition='$key neq $last'>></if>
				</foreach>
				
			</div>
			<div class="title">
				<p>{$blog.title}</p>
				<div>
					<span class='fl'>发布于：{$blog.time|date='Y年m月d日', ###}</span>
					<span class='fr'>已被阅读{$blog.click}次</span>
				</div>
			</div>
			<div class='content'>
				{$blog.content}
			</div>
		</div>
	<!--主体右侧-->
		<include file='Common:right'/>
	</div>
<!--底部-->
	<include file='Common:bottom'/>