	<div class='bottom'>
		<div>


		 	<style type="text/css">
		 	.bottom2{clear:both;margin:10px auto;text-align:center;padding:10px 0;line-height:25px;color:#666;}
		 	.bottom2 a{margin:0 7px;color:#666;}
		 	.bottom2 a:hover{color:white;text-decoration:underline;}
		 	</style>


		 	<div class="bottom2">
		 	<a href="#" rel="nofollow">关于我们</a>|<a href="#" rel="nofollow">广告服务</a>|<a href="#" rel="nofollow">联系我们</a>|<a href="#" rel="nofollow">法律声明</a>|<a href="#" rel="nofollow">网站地图</a>|<a target="_blank" href="#">版权声明</a>|<a href="#" rel="nofollow">帮助中心</a><br />
		 	finallylly 版权所有　© 2015-2016　粤ICP备16008637号
		 	</div>


		</div>
	</div>
</body>
</html>