<footer class="footer">
		<div class="link">
			<span>友情链接 : </span>
			<ul>
				<li><a target="_blank" href="http://blog.junfai.cc">驿站博客</a></li>
				<li><a target="_blank" href="http://www.zailaiyiguo.com/wordpress">菊花博客</a></li>
				<li><a target="_blank" href="http://www.mushi.com">牧师中文网</a></li>
			</ul>
		</div>
		<img src="__ROOT__/./Uploads/cover_img/QQ20160801002553.jpg" width="0" height="0">
		<p>© 2015-<?php echo date("Y"); ?> <a href="__ROOT__/">RJ博客</a>&nbsp;Powered By <a href="__ROOT__/" title="RainbowSoft ThinkPHP" target="_blank">ThinkPHP</a>&nbsp;Theme By <a href="__ROOT__/" title="finallylly 版权所有" target="_blank">finallylly</a>&nbsp;
			<a
							target="_blank" href="__ROOT__/" rel="nofollow">粤ICP备16008637号</a>
				<script>
					var _hmt = _hmt || [];
					(function() {
						var hm = document.createElement("script");
						hm.src = "//hm.baidu.com/hm.js?c4716c51942335b1c92e3dc2b1ecb2cd";
						var s = document.getElementsByTagName("script")[0];
						s.parentNode.insertBefore(hm, s);
					})();
				</script>
		</p>
	</footer>
	<div id="gotop">
		<span id="gttop" onclick="return false;" title="返回顶部">
		    <i class="fa fa-arrow-up"></i>
		</span>
	</div>
	<script src="__PUBLIC__/myblog_files/functions.js"></script>
	<script src="__PUBLIC__/myblog_files/blazy.min.js"></script>
	<script type="text/javascript">
		(function() {

			var bLazy = new Blazy({
				breakpoints: [{

				}],
				success: function(element) {
					setTimeout(function() {
						var parent = element.parentNode;
						parent.className = parent.className.replace(/\bloading\b/, '');
					}, 200);
				}
			});
		})();
	</script>
	<script>
		(function() {
			var bp = document.createElement('script');
			bp.src = '//push.zhanzhang.baidu.com/push.js';
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();
	</script>
	<script src="__PUBLIC__/myblog_files/prettify.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Js/canvas-nest.min.js" count="45" zindex="-2" opacity="0.99" color="255,0,0" type="text/javascript"></script>

</body>

</html>