<div class="sidebar">

	<div class="widget widget-tie fy_weibo">
		<h3>网易云音乐卡片</h3>
		<ul>
			<div id="weiboShow">
				<div class="grid-weibo-show shadow-hover">
					<header>&nbsp;</header>
					<div class="contentt">
						<div class="avatar">
							<img src="__PUBLIC__/myblog_files/100.jpg">
							<span class="rank"></span>
						</div>
						<h4>林志远 | finally_y</h4>
						<p class="seta">逆风的方向，更适合飞翔！</p>
						<a class="u-btn-submit f-tdn" href="http://music.163.com/#/user/home?id=59986101" target="_blank">
							<i class="fa fa-tencent-weibo"></i>关注网易云音乐
						</a>
					</div>
					<footer>
						<ul>
							<li><strong id="event_count">{$cloudMusicInfo.event_count}</strong><span>动态</span></li>
							<li><strong id="follow_count">{$cloudMusicInfo.follow_count}</strong><span>关注</span></li>
							<li><strong id="fan_count">{$cloudMusicInfo.fan_count}</strong><span>粉丝</span></li>
						</ul>
					</footer>
				</div>
			</div>
		</ul>
	</div>

	<!-- <div class="widget widget-tie widget_fronts">
		<h3>服务项目</h3>
		<ul>
			<li class="ebox-i ebox-01">
				<h4>网站建设</h4>
				<p>为企业品牌官网提供解决方案</p> <a class="btn btn-default btn-sm" rel="nofollow" href="#">联系我们</a> </li>
			<li class="ebox-i ebox-02">
				<h4>模板制作</h4>
				<p>仿站/模板定制/单页面定制/效果图转模板</p> <a class="btn btn-default btn-sm" rel="nofollow" href="#">联系我们</a> </li>
			<li class="ebox-i ebox-03">
				<h4>CSS布局调整</h4>
				<p>在您现有模板的基础上 重新修改排版布局</p> <a class="btn btn-default btn-sm" rel="nofollow"href="#">联系我们</a> </li>
			<li class="ebox-i ebox-04">
				<h4>其他技术问题解决</h4>
				<p>助您解决建站过程中所遇到的各种疑难杂症</p> <a class="btn btn-default btn-sm" rel="nofollow" href="#">联系我们</a> </li>
			<li class="ebox-i ebox-05 ebox-100">
				<h4>定制开发流程</h4>
				<p> 业务咨询 | 提交需求 | 开始实施 | 确认完成 | 售后服务 </p> <a class="btn btn-default btn-sm" rel="nofollow" href="#">联系我们</a> </li>
		</ul>
	</div> -->

	<div class="widget widget-tie divSearch">
		<h3>内容搜索</h3>
		<form method="get" action="{:U('Search/index')}">
			<input type="text" name="seaword" value="{$params.seaword}" style="width:200px;height:30px;outline:none;font-size:14px;padding:5px;color:gray;border:1px solid #ff6b57;"><input type="submit" name="search" value="搜索" style="width:70px;height:30px;font-size:14px;color:white;background:#ff6b57;border:1px;outline:none;cursor:pointer;">
		</form>
	</div>

	<div class="widget widget-tie divTags">
		<h3>标签列表</h3>
		<ul>
			<volist name="cate" id="vo">
				<li><a href="c_{$vo.id}.html">{$vo.name}<span class="tag-count"></span></a></li>
			</volist>
		</ul>
	</div>

	<div class="widget widget-tie divComments">
		<h3>最新留言</h3>
		<ul>
			<volist name="commentArr" id="vo">
			    <li><img class="avatar avatar-55" alt="RJ Blog" src="__PUBLIC__/myblog_files/154435f32ad2e6180107dcded9fe10a3.png" width="55" height="55"><a rel="nofollow" href="s_{$vo.bid}.html#comments" target="_blank" title="发表评论"><span>{$vo.username}：</span>{$vo.content}</a></li>
			</volist>
		</ul>
	</div>

</div>

<script type="text/javascript">
	$.ajax({
	    // url: "http://music.163.com/user/home?id=59986101",
	    // url: "cloudMusic.php",  //本地测试
	    url: "http://nearby.wang/cloudMusic.php",  //跨域支持测试
	    type: "GET",
	    dataType: 'JSONP',
	    jsonp: "callback",
	    jsonpCallback: "dosomething",
	    success: function(result){
		    // console.log(result);
		    $('#event_count').html(result.event_count);
		    $('#fan_count').html(result.fan_count);
		    $('#follow_count').html(result.follow_count);
	    }
	});
</script>