<include file='Common:r_header' />

<div class="breadcrumb">
    <i class="fa fa-home"></i> <a href="__ROOT__/" title="RJ博客">首页</a>&nbsp;»&nbsp;
    <php>$last = count($parent) - 1</php>
    <foreach name='parent' item='v'>
        <a href="{:U('/c_' . $v['id'])}">{$v.name}</a>
        <if condition='$key neq $last'>&nbsp;»&nbsp;</if>
    </foreach>&nbsp;»&nbsp;正文
</div>

<div class="container">
    <div class="content-wrap">
        <div class="content">

            <div class="archive-head">
                <h1 itemprop="headline">Welcome. I'm finally_y. </h1>
                <div class="archive-description">
                    <p>Traveling against the wind is more suitable for fly.</p>
                </div>        
            </div>

            <div class="excerpts">
                <foreach name='blog' item='var'>
                        <article class="post" data-id="{$var['id']}">
                            <header>
                                <h2><a href="{:U('/s_' . $var['id'])}" title="{$var.title}" rel="bookmark">{$var.title}</a></h2>
                            </header>
                            <div class="post-img loading">
                                <a class="pic float-left" href="{:U('/s_' . $var['id'])}" title="链接到 {$var.title}" rel="bookmark">

                                    <img class="b-lazy b-loaded" src="__ROOT__/{$var.cover_img}" alt="{$var.title}"  width="100%">
                                </a>
                            </div>
                            <div class="post-text">
                                {$var.summary}
                            </div>
                            <footer>
                                <span><i class="fa fa-clock-o fa-fw"></i>{$var.time|date='Y年m月d日', ###}
									</span>
                                <span><i class="fa fa-eye fa-fw"></i>{$var.click} views</span>
                                <span><i class="fa fa-comment-o fa-fw"></i><a href="{:U('/s_' . $var['id'])}">{$var.comment}评论</a></span>
                            </footer>
                        </article>
                </foreach>
            </div>

            <div class="c-footer clear">
                <div class="page">
                    {$page}
                </div>
            </div>

        </div>
    </div>

    
    
    <!--主题右侧-->
    <include file='Common:r_right' />
</div>

<!--底部-->
<include file='Common:r_bottom' />
